*, *::after, *::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

main{
    background: #fafafa;
    color: rgba(0,0,0,0.87);
}
body {
    font-family: 'Roboto', sans-serif !important;
}
a{text-decoration: none}

#inspire{
    background: #c9de96; /* Old browsers */
    background: -moz-linear-gradient(top, #c9de96 0%, #8ab66b 44%, #398235 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, #c9de96 0%,#8ab66b 44%,#398235 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, #c9de96 0%,#8ab66b 44%,#398235 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#c9de96', endColorstr='#398235',GradientType=0 ); /* IE6-9 */
}


/* The Masonry Container */
.masonry {
    margin: 1.5em auto;
    width: 100%;
    column-gap: 1.5em;
}

/* The Masonry Brick */
.item {
    background: #fff;
    padding: 0em;
    margin: 0 0 0.5em;
}

/* Masonry on large screens */
@media only screen and (min-width: 1024px) {
    .masonry {
        column-count: 4;
    }
}

/* Masonry on medium-sized screens */
@media only screen and (max-width: 1023px) and (min-width: 768px) {
    .masonry {
        column-count: 3;
    }
}

/* Masonry on small screens */
@media only screen and (max-width: 767px) and (min-width: 350px) {
    .masonry {
        column-count: 1;
    }
}


